@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme inline {
  --font-sans:
    var(--font-geist-sans), var(--font-noto-sans-thai), ui-sans-serif,
    sans-serif;
  --font-mono: var(--font-geist-mono);
}
